<footer>
  <div class="footer">
  <nav class="resources">
    <ul class="list">
      <li><a href="https://adalab.es" target="_blank">articles</a></li>
      <li> <a href="https://adalab.es" target="_blank">books</a></li>
      <li><a href="https://adalab.es" target="_blank"><events</a></li>
      <li><a href="https://adalab.es" target="_blank">tips</a></li>
    </ul>
  </nav>
  <nav class="social-media">
    <ul class="list">
      <li>
      <a href="https://adalab.es" target="_blank">
        twitter</a></li>
      <li><a href="https://adalab.es" target="_blank">instagram</a></li>
      <li><a href="https://adalab.es" target="_blank">mastodon.social</a></li>
    </ul>
  </nav>
  <small class="small_footer">
    <p>©2021</p>
    <p>we <span class="heart"> &#x2665 </span> components</p>
  </small>
</footer>
