<section id="reasons">
  <div class="grid-wrapper">
    <h2 class="reasons">3 reason to purchase</h2>
    <div class="reason1">
      <h3 class="section1_title">Ut sed metus</h3>
      <p class="section1_paragraph">Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <div class="reason2">
      <h3 class="section1_title">Curabityr ac erat</h3>
      <p class="section1_paragraph">Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <div class="reason3">
      <h3 class="section1_title">Morbi dictum</h3>
      <p class="section1_paragraph">Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <button class="button_reason">More reasons</button>
  </div>
  <div class="ico-arrow">
    <a class="ico-arrow-link" href="#home" title="Go to home page"></a>
  </div>
</section>
