<section>
<div class="main_reasons">
    <h2 class="reasons">3 reason to purchase</h2>
  <div class="grid.wrapper">
    <div class="reason1">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <div class="reason2">
      <h3>Curabityr ac erat</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <div class="reason3">
      <h3>Morbi dictum</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
  </div>
  <button class="button_reason">More reasons</button>
</section>
