<section>
<div class="main_reasons">
    <h2 class="reasons">3 reason to purchase</h2>
  <div class="grid.wrapper">
    <div class="reason1">
      <h3>ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <div class="reason2">
      <h3>curabityr ac erat</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <div class="reason3">
      <h3>morbi dictum</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
  </div>
  <button>more reasons</button>
</section>
