// fonts
$font-size-18: 18px;
$font-size-24: 24px;

//colors
$brand-color: #f26002;
$title-color: #000000;
$main-color: #4a4a4a;
$color-white: #ffffff;

//central-column
@mixin centralcolumn() {
  padding: 0 15px;
  @media all and (min-width: 768px) {
    padding: 0 39px;
    @media all and (min-width: 1200px) {
      padding: 0 275px;
    }
  }
}
