.header {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  background-position: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  justify-content: flex-end;
  @include centralcolumn();
}

.title_header {
  font-size: 42px;
  text-transform: uppercase;
  color: $color-white;
  font-weight: bold;
  text-align: center;
  width: 290px;
  margin-bottom: 10px;

  @media all and (min-width: 768px) {
    width: 630px;
    font-size: 80px;
    word-spacing: 100vw;
    margin-bottom: 20px;
  }

  @media all and (min-width: 1200px) {
    width: 730px;
    font-size: 100px;
    margin-left: 275px;
    margin-right: 275px;
    margin-bottom: 0px;
  }
}

.subtitle_header {
  color: $color-white;
  text-align: center;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 45px;

  @media all and (min-width: 768px) {
    font-size: 24px;
    margin-bottom: 30px;
  }
  @media all and (min-width: 1200px) {
    margin-top: 0;
  }
}

.ico-menu {
  box-sizing: border-box;
  height: 44px;
  width: 44px;
  background-color: #0271bc;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.ico-menu-link {
  width: 20px;
  height: 20px;
  background-image: url(../images/ico-menu.svg);
}

.ico-scroll-down {
  display: flex;
  background-color: $color-white;
  border-radius: 50px;
  height: 44px;
  width: 44px;
  background-image: url(../images/ico-scroll-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 53px;

  @media all and (min-width: 768px) {
    margin-bottom: 45px;
  }
  @media all and (min-width: 1200px) {
    margin-bottom: 13px;
  }
}

.ico-scroll-down-link {
  height: 44px;
  width: 44px;
}

/*animation*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.hi {
  font-size: 100px;
  color: #3cdbc0;
  animation-duration: 5s;
  animation-name: intro;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes intro {
  from {
    transform: scale(10) rotate(-150deg);
    opacity: 0;
    color: white;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
