.header {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  background-position: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  justify-content: flex-end;
}

.title_header {
  font-family: $font-main;
  font-size: 42px;
  text-transform: uppercase;
  color: $color-white;
  font-weight: bold;
  text-align: center;
}

.subtitle_header {
  font-family: $font-main;
  font-size: $font-size-16;
  text-transform: initial;
  color: $color-white;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: normal;
}

.ico-menu {
  box-sizing: border-box;
  height: 44px;
  width: 44px;
  background-color: #0271bc;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.ico-menu-link {
  width: 20px;
  height: 20px;
  background-image: url(../images/ico-menu.svg);
}

.ico-scroll-down {
  box-sizing: border-box;
  display: flex;
  background-color: $color-white;
  border-radius: 44px;
  height: 44px;
  width: 44px;
  position: relative;
  top: 20%;
  justify-content: center;
  align-items: center;
}

.ico-scroll-down-link {
  width: 50px;
  height: 50px;
  background-image: url(../images/ico-scroll-down.svg);
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 11px;
}

@media all and (min-width: 768px) {
  .title_header {
    word-spacing: 100vw;
    font-size: 80px;
  }

  .subtitle_header {
    width: 360px;
    height: 32px;
    font-size: 20px;
  }
}

@media all and (min-width: 1200px) {
  .title_header {
    width: 730px;
    height: 264px;
    font-size: 100px;
  }
  .subtitle_header {
    width: 730px;
  }
}
