.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 182fr 182fr 182fr 182fr;
  background-color: #eff9ff;
  text-align: center;
  padding: 30px 15px 60px 15px;
  row-gap: 45px;
}

.reasons {
  grid-column: span 1;
  grid-row: 1/2;
  text-transform: capitalize;
  font-size: 24px;
  margin: auto;
}

.reason1 {
  grid-column: span 1;
  grid-row: 2/3;
  font-size: 18px;
}

.reason2 {
  grid-column: span 1;
  grid-row: 3/4;
  font-size: 18px;
}
.reason3 {
  grid-column: span 1;
  grid-row: 4/5;
  font-size: 18px;
}

.button_reason {
  grid-column: span 1;
  grid-row: 5/6;
  box-sizing: border-box;
  border-radius: 35px;
  width: 184px;
  height: 45px;
  font-size: 20px;
  color: $color-white;
  background-color: $brand-color;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  line-height: 32px;
  margin: 0 auto;
}

.button_reason:hover {
  background: linear-gradient(180deg, #fbde74 0%, #ff9900 100%);
  transition: all 0.3s;
}

@keyframes flip-scale {
  0% {
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
  }
  100% {
    transform: scale(1) rotate3d(-1, 1, 0, -180deg);
  }
}

.ico-arrow {
  box-sizing: border-box;
  display: flex;
  background-color: $color-white;
  border-radius: 44px;
  height: 44px;
  width: 44px;
  position: relative;
  left: 50vw;
  top: 22px;
  justify-content: center;
  align-items: center;
  animation: flip-scale 3s infinite;
}

.ico-arrow-link {
  width: 50px;
  height: 50px;
  background-image: url(../images/ico-arrow.svg);
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 11px;
}

@media all and (min-width: 768px) {
  .grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .reason1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .reason2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .reason3 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .button_reason {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
