.section2 {
  background-color: #eff9ff;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 1fr 1fr 46px;
  text-align: center;
  row-gap: 45px;
  @include centralcolumn();
  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 46px;
  }
}

.reasons {
  padding-top: 30px;
  grid-column: span 1;
  grid-row: 1/2;
  text-transform: capitalize;
  font-size: $font-size-24;
  @media all and (min-width: 768px) {
    grid-column: span 3;
    font-size: 26px;
  }
}
.section2_title {
  font-size: $font-size-18;
  @media all and (min-width: 768px) {
    font-size: 24px;
  }
}

.section2_paragraph {
  font-size: $font-size-18;
  @media all and (min-width: 768px) {
    font-size: 20px;
  }
}

.reason1 {
  grid-column: span 1;
  grid-row: 2/3;

  @media all and (min-width: 768px) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.reason2 {
  grid-column: span 1;
  grid-row: 3/4;

  @media all and (min-width: 768px) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
.reason3 {
  grid-column: span 1;
  grid-row: 4/5;

  @media all and (min-width: 768px) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}

.button_reason {
  grid-column: span 1;
  grid-row: 5/6;
  box-sizing: border-box;
  border-radius: 35px;
  width: 184px;
  height: 45px;
  font-size: 20px;
  color: $color-white;
  background: $brand-color;
  background-color: $brand-color;
  cursor: pointer;
  border: none;
  line-height: 32px;
  margin: 0 auto;
  transition: all 5s ease;

  @media all and (min-width: 768px) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.button_reason:hover {
  transform: scale(1.5);
}

@keyframes flip-scale {
  0% {
    transform: scale(1) rotate3d(0, 1, -1, 0deg);
  }
  50% {
    transform: scale(0.4) rotate3d(0, 1, -1, -90deg);
  }
  100% {
    transform: scale(1) rotate3d(0, 1, -1, -180deg);
  }
}

.ico-arrow {
  box-sizing: border-box;
  display: flex;
  background-color: $color-white;
  border-radius: 44px;
  height: 44px;
  width: 44px;
  position: relative;
  left: 50vw;
  top: 22px;
  justify-content: center;
  align-items: center;
  animation: flip-scale 3s infinite;
}

.ico-arrow-link {
  width: 50px;
  height: 50px;
  background-image: url(../images/ico-arrow.svg);
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 11px;
}
