.wrapper_section1 {
  display: flex;
  background-color: $color-white;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
  @include centralcolumn();
}

.small {
  color: #8ccbea;
  font-size: 14px;
  box-sizing: border-box;
  width: 90px;
  height: 30px;
  text-transform: capitalize;

  @media all and (min-width: 768px) {
    width: 216px;
  }
  @media all and (min-width: 1200px) {
    width: 360px;
    font-size: 16px;
  }
}

.title2 {
  text-transform: capitalize;
  color: black;
  box-sizing: border-box;
  width: 290px;
  height: 60px;
  font-size: 24px;

  @media all and (min-width: 768px) {
    width: 690px;
    height: 45px;
    font-size: 26px;
  }
  @media all and (min-width: 1200px) {
    width: 730px;
    font-size: 32px;
  }
}

.paragraph {
  color: $main-color;
  margin-top: 15px;
  font-size: 18px;
  height: 120px;

  @media all and (min-width: 768px) {
    height: 60px;
    font-size: 20px;
    margin-top: 30px;
  }
}

.button {
  border: 2px solid $brand-color;
  box-sizing: border-box;
  border-radius: 35px;
  width: 76px;
  height: 45px;
  font-size: 20px;
  color: $brand-color;
  background-color: $color-white;
  margin-top: 30px;
  transition: all ease 0.5s;

  @media all and (min-width: 768px) {
    width: 91px;
    height: 45px;
  }

  @media all and (min-width: 768px) {
    width: 160px;
  }
}

.button:hover {
  background-color: darken($brand-color, 5%);
  border: 5px solid lighten($brand-color, 5%);
  cursor: pointer;
  width: 150px;
  color: white;
}
